// 고운 돋움
@font-face {
    font-family: 'GowunDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// 나눔스퀘어라운드
// @font-face {
//     font-family: 'NanumSquareRound';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// IMB Plex Sans KR
// @font-face {
//     font-family: 'IBMPlexSansKR';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }